venv/
venv-build/
venv-*/
.venv/

__pycache__/
*.py[cod]
*.pyd
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
*.sqlite3

build/
dist/
*.spec
*.exe
*.dll
*.so

back/static/

front/dist/

yarn.lock
pnpm-lock.yaml

.vscode/
.idea/
*.iml
*.sublime-*
*.swp
*~
Thumbs.db
.DS_Store
.directory
